// Common form controls

// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

$input-type-list: 
// select,
// textarea,
"text",
"password",
// "datetime",
// "datetime-local",
// "date",
// "month",
// "time",
// "week",
// "number",
"email";
// "url",
// "search",
// "tel",
// "color";

// Form overrides 
.select-override {
  @include user-select(none);
  position: relative;
  text-indent: 1px;
  text-overflow: "";
  &.input-lg {
    line-height: 28px;
  }
}